@charset "utf-8";
/* ===================================================================
CSS information

 file name  :print.css
 author     :Ability Consultant
 style info :印刷用
=================================================================== */
@media print {

/*
#sub {
	display: none;
}
*/



}
